<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="JM.QingQi" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
  <uses-sdk android:targetSdkVersion="10" />
  <application android:label="济南轻骑">
  </application>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>